body{
    background-color: #000000;
    font-family: 'Open Sans';
    overflow-x: hidden;
}

.accent-h2{
    font-size: 86px;
    color: #FFFFFF;
}

.soon {
    margin: 140px 0;
}

.rights-reserved {
    font-size: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
}
